
.title {
    color: white;
}

.title2 {
    color: #ffff00bb;
}


.to {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    align-items: center;
    width: 60%;
}

.todo {
    display: flex;
    justify-content: center;
}

.subcolumns {
    display: flex;
    justify-content: space-around;
}

.lo {
    width: 100%;
}